# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
awscli-plugin-endpoint  # for DigitalOcean endpoint_url setting in .aws/config
flake8
ipykernel  # to register environment as jupyter kernel
python-dotenv>=0.5.1
